<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coșul meu</title>
</head>
<body>
<h2>Coșul meu</h2>

<table>
    <thead>
    <tr>
        <th>Produs</th>
        <th>Cantitate</th>
        <th>Preț total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItems}">
        <td th:text="${cartItem.product.name}"></td>
        <td th:text="${cartItem.quantity}"></td>
        <td th:text="${cartItem.totalPrice}"></td>
    </tr>
    </tbody>
</table>

<a href="/index">Înapoi la produsele disponibile</a>
</body>
</html>
