<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magazin Online Bijuterii</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="header">
    <h1 class="dashboard-title">Magazin Online Bijuterii</h1>
    <p class="description">Descoperă bijuterii unice și elegante pentru orice ocazie.</p>
    <div class="nav">
        <ul>
            <li><a href="/bijuterii">Bijuterii</a></li>
            <li><a href="/cos">Coșul meu</a></li>
            <li><a href="/cont">Contul meu</a></li>
            <li><a href="/login">Logare</a></li>
            <li>
                <input type="text" class="search-box" placeholder="Caută bijuterii..." />
            </li>
            <!-- Dacă utilizatorul este autentificat, afișează numele și un link de logout -->
            <li th:if="${username}">
                Bun venit, <span th:text="${username}"></span>!
                <a href="/logout">Delogare</a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <h2>Cele mai vândute bijuterii</h2>
    <div class="featured-products">
        <div class="product">
            <img src="/images/img1.jpg" alt="Bijuterie 1" class="product-image">
            <h3>Set de bijuterii </h3>
            <p class="price">400 RON</p>
            <button class="add-to-cart" data-product-id="1">Adaugă în coș</button>
        </div>
        <div class="product">
            <img src="/images/img2.jpg" alt="Bijuterie 2" class="product-image">
            <h3>Inel</h3>
            <p class="price">150 RON</p>
            <button class="add-to-cart" data-product-id="2">Adaugă în coș</button>
        </div>
    </div>
</div>
</body>
</html>
